{% extends 'base.html' %} {% block content %}

<div>

    <h2> {{ beach.name }} Beach</h2>
        <p><strong> Facing:{{ beach.facing}} Longitude:{{ beach.longitude }} Lattitude:{{ beach.latitude }}</strong></p>
        <p>{{ beach.notes }}</p>

        <h4>Today's sessions</h4> {{ todays_full_date }}
        {% for session in sessions %} 
       
        <p>{{ session.surfer }} {{ session.time }}.00 {{ session.date }} </p>
        {% if  %}
        {% endif %}
        {% endfor %}

        <h4>Tomorrow's sessions</h4>

        <h4>The day after tomorrow's sessions</h4>

        <h4">+ add a session</h4>
        <form method="post">
            {% csrf_token %}
            {{ session_form }}
            <button type="submit">Submit</button>
        </form>

</div> 


{% endblock %}
