{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    {% for beach in beach_list %}
    <div class="container pl-2">
        <p class="h2">{{ beach.name }} 
            <a href="{% url 'beach_sessions' beach.slug %}">
                <button class="btn btn-outline-primary btn-sm">
                    View sessions
                </button>
            </a>
        </p> 
    </div>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <img src=" {{ beach.beach_image.url }}" width="100%" class="image-fluid">
            </div>
            <div class="col-2">
            </div>
        </div>
        <!-- <div class="row justify-content-md">
            <div class="col col-lg-2">

            </div>
            <div class="col col-md">
                <img src=" {{ beach.beach_image.url }}" width="100%" class="image-fluid">
            </div>
            <div class="col col-lg-2">

            </div>
        </div> -->
    </div>
    <div class="container pl-2">
        <div class="row">
            <div class="col-4">
                <strong>Facing: </strong>{{ beach.facing}}
            </div>
            <div class="col-6">
                <strong>Coordinates: </strong>{{ beach.latitude }}, {{ beach.longitude }}
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <p>{{ beach.notes }}</p>
            </div>
            <div class="col-3">
            </div>
        </div>
        
    </div>
    
    {% endfor %}
</div> 


{% endblock %}