{% extends 'base.html' %}

{% block content %}
<div class="container pl-2">
    <div class="row">
        <div class="col-9">
            <p>
                Welcome to Belmullet Surf Clubs session tracker site! Below you'll find listings with basic info 
                on all of our "club-approved" beaches. Once you sign in with the account made for you by the club, 
                you'll be able to view times when other surfers are heading out, as well as post sessions to let others 
                know when you'll be paddling out! Make sure to check the notes on each beach, we'll be keeping them 
                updated with changes to beaches, and reminders for club events!  
            </p>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>    
<div class="container-fluid">
    {% for beach in beach_list %}
    <div class="container pl-2">
        <p class="h2">{{ beach.name }} 
            <a href="{% url 'beach_sessions' beach.slug %}">
                <button class="btn btn-outline-primary btn-sm">
                    View sessions
                </button>
            </a>
        </p> 
    </div>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <img src=" {{ beach.beach_image.url }}" width="100%" class="image-fluid">
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
    <div class="container pl-2">
        <div class="row">
            <div class="col-4">
                <strong>Facing: </strong>{{ beach.facing}}
            </div>
            <div class="col-6">
                <strong>Coordinates: </strong>{{ beach.latitude }}, {{ beach.longitude }}
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <p>{{ beach.notes }}</p>
            </div>
            <div class="col-3">
            </div>
        </div>
        
    </div>
    
    {% endfor %}
</div> 


{% endblock %}